body {
	width: 100%;
	height: 2160px;
	display: block;
    margin-left: 0px;
    margin-top: 0px;	
    margin-bottom: 0px;
    margin-right: 0px;
	font-family: Roboto;
}

p {margin: 0px;}

header a { 
		color: #FFFFFF;
		text-decoration: none;
	   }

header {
	width: 100%;
	height: 74px;
	background-color: #EB5D2A;
	display: flex;
	align-items: center;
}

nav {
			display: flex;
			justify-content: center;
		}
		
.logo {
			display: inline; 
			margin-right: 0px; 
			padding: 25px; 
			color: #1C162E;
			text-decoration: none;
			font-size: 24px;
		}

.inHeader {
			display: flex;
			justify-content: left;
			align-items: center;
		}

		ul.first {
			display: flex;
			margin: 0; 
			padding: 0; 
		   }
		ul.first li {
			
			line-height: 100%;
			display: inline; 
			margin-right: 0px; 
			padding: 15px; 
			color: #FFFFFF;
			text-decoration: none;
			font-size: 16px;
		   }
		   
.lang_log {
	display: flex;
	justify-content: right;
	align-items: center;
	margin-right: 2%;
	margin-left: 110%;
}

.arrow {
	padding-left: 5px;
}

.login {
	padding-left: 15px;
}

.inBody {
	height: 118px;
	width: 100%;
	display: flex;
	align-items: center;
}

.secondNav {
	width: 1152px;
    height: 40px;
    justify-content: space-between;
    display: flex;
}

.secondNav a { 
		color: #1C162E;
		text-decoration: none;
	   }

.words {
	display: flex;
	position:relative;
	height: 40px;
    align-items: center;
}

ul.second {
			display: flex;
			margin: 0; 
			padding: 0; 
		   }
		ul.second li {
			display: inline; 
			margin-right: 0px; 
			padding-right: 15px; 
			color: #1C162E;
			text-decoration: none;
			font-size: 16px;
		   }

.search {
	display: flex;
	width: 330px;
	height: 40px;
	position: relative;
	background-color: #1C162E;
	justify-content: left;
	align-items: center;
	
}

#search {
	background: transparent;
	border: none;
}

.searchButton {
	display: inline-block;
	width: 20px;
	height:20px;
	padding: 2px;
	background-color: transparent;
	border: none;
	text-align: center;
	outline: none;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
}

.ads {
	height: 397px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.ads a {
	color: #fff;
	text-decoration: none;
}

.ad {
	display: inline-flex;
	justify-content: center;
	width: 1152px;
	height: 397px;
}

.rtcl {
	display: flex;
	align-items: left;
	flex-direction: column;
	background-color: #1C162E;
	height: 397px;
	
}

.circles {
	width: 440px;
	justify-content: space-between;
    display: flex;
	align-items: center;
}

.searchBar {
	display: inline-flex;
}

.topSellers {
	margin-top: 118px;
	height: 570px;
	display: flex;
	justify-content: center;
}

.topSellers a {
	color: #313131;
	text-decoration: none;
}

.ts {
	height: 560px;
	width: 1152px;
	border-style: solid;
	border-width: 5px;
	border-color: #EB5D2A;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column
}

.top {
	height: 36px;
	width: 1072px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fire {
	display: inline-flex;
	align-items: center;
}

.more {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 117px;
	

	background: rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 3px;
	border-color: #1C162E;
}

.more a { 
		color: #1C162E;
		text-decoration: none;
	   }

.bot {
	height: 423px;
	width: 1072px;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.game {
	height: 423px;
	width: 256px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.pic {
	height: 342px;
	width: 256px;
}

.title {
	height: 28px;
	width: 256px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.price
 {
	height: 28px;
	width: 256px;
	display: flex;
	align-items: center;
	justify-content: flex-end
}

.Sale {
	margin-top: 118px;
	height: 570px;
	display: flex;
	justify-content: center;
}

.sale {
	height: 560px;
	width: 1152px;
	border-style: solid;
	border-width: 5px;
	border-color: #EB5D2A;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column
}

.sale a {
	color: #313131;
	text-decoration: none;
}

footer {
	height: 148px;
    margin-top: 115px;
    background-color: #1C162E;
	display: flex;
	align-items: center;
	justify-content: center;
}

Something {
	/*height: auto;*/
}
